@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  color: inherit !important;

}
/* Hide Edge default password eye icon */
input::-ms-reveal,
input::-ms-clear {
  display: none !important;
}

/* Hide Chromium-based Edge default password icon */
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none !important;
  visibility: hidden !important;
}
